<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serenity</title>
    <link rel="stylesheet" href="css/screen.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <div class='main'>
      <div class='topbar'>
        <nav>
          <ul>
            <li class='clear-study hide'>
              <a class="button error" href="#">Clear Letter of Intent
              </a>
            </li>
            <li>
              <a class="grid" href="#"><span class='icon one-column-grid'></span>
              </a>
            </li>
            <li>
              <a class="active grid" href="#"><span class='icon two-column-grid'></span>
              </a>
            </li>
            <li>
              <a class="grid" href="#"><span class='icon three-column-grid'></span>
              </a>
            </li>
            <li class='copy-link hide'>
              <a class="link" href="#"><span class='icon'></span>
              </a>
            </li>
            <li id='view-study'>
              <a class="button primary" href="#"><span class='badge'>4</span>
              View Proposals
              </a>
            </li>
            <li>
              <a class="left" href="#"><span class='icon'></span>
              </a>
            </li>
          </ul>
        </nav>
        <div class='title'>Serenity</div>
        <div class='cards' id='query-results'>
         <div class='alert' id='input-error'>Alert user of an invalid input</div>
         <div id='card-results'>
          <div class='card two-column'>
            <a class="close has-tip" href="#"><span class='icon'></span>
            <div class='tooltip tip-bottom-right'>Remove from query</div>
            </a>
            <div class='title'>
              <span>Increasing access to the wetlands boardwalk trail</span>
              <div class='icon comment has-tip'>
                <div class='tooltip medium tip-top'>
                  <div class='tip-title'>Notes</div>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </div>
            </div>
            <div class='front'>
              <div class='artifact'>
                <div class='content'>Letter Content</div>
                <div class='overlay'>
                  <span class='icon'>Save progress</span>
                </div>
              </div>
              <div class='artifact'>
                <div class='content'>Letter Content</div>
                <div class='overlay'>
                  <span class='icon'>Save progress</span>
                </div>
              </div>
              <a class="button icon block white related" href="#">126 Related Proposals</a>
            </div>
            <div class='back'>
              <a class="button icon block white back-to-artifacts" href="#">Back to content</a>
              <ul class='related-items striped'>
                  <!-- On the back we could show related concepts, or a checklist/progress meter -->
                <li>Extend the Eastern Greenway Trail</li>
                <li>Declare the Wayne wetlands as a national treasure</li>
                <li>Introduce native species back into the wetlands</li>
              </ul>
            </div>
          </div>
       </div>
      </div>
  </body>
</html>
